importFrom(utils, toLatex)
importFrom(tseriesChaos, embedd)
importFrom(tseriesChaos, mutual)
importFrom(tseriesChaos, d2)
importFrom(nnet, nnet)
importFrom(tseries, na.remove)
importFrom(Matrix, norm)
export(nlar, mse, MAPE, selectSETAR, selectLSTAR, selectNNET,
       autopairs, autotriples, autotriples.rgl,
       delta, delta.test, delta.lin, delta.lin.test,
       llar, llar.predict, llar.fitted, sigmoid, dsigmoid,
	setar, lstar, star, availableModels,
       nlarDialog, linear, isLinear, nnetTs, aar,
	star, 
       TVAR, TVECM,TVAR.LRtest, setar.sim, TVAR.sim, TVECM.SeoTest, lineVar, setarTest,
	BIC, MakeThSpec,BBCTest,KapShinTest, resVar, extendBoot, TVECM.sim, regime, getTh)
S3method(extend, list)
S3method(isLinear, lstar)
S3method(toLatex, setar)
S3method(toLatex, TVAR)
S3method(toLatex, TVECM)
S3method(toLatex, VAR)
S3method(plot, nlar)
S3method(plot, setar)
S3method(plot, selectSETAR)
S3method(plot, lstar)
S3method(plot, aar)
S3method(plot, TVAR)
S3method(plot, Hansen99Test)
S3method(plot, TVECMSeo06Test)
S3method(predict, nlar)
S3method(print, nlar)
S3method(toLatex, nlar)
S3method(print, linear)
S3method(print, nnetTs)
S3method(print, setar)
S3method(print, lstar)
S3method(print, star)
S3method(print, aar)
S3method(print, TVAR)
S3method(print, TVECM)
S3method(print, VAR)
S3method(print, selectSETAR)
S3method(print, Hansen99Test)
S3method(print, BBC2004Test)
S3method(print, KapShin2006Test)
S3method(print, TVARtest)
S3method(print, TVECMSeo06Test)
S3method(summary, nlar)
S3method(summary, linear)
S3method(summary, setar)
S3method(summary, lstar)
S3method(summary, aar)
S3method(summary, TVAR)
S3method(summary, TVECM)
S3method(summary, VAR)
S3method(summary, Hansen99Test)
S3method(summary, TVARtest)
S3method(summary, TVECMSeo06Test)
S3method(print, summary.nlar)
S3method(print, summary.linear)
S3method(print, summary.setar)
S3method(print, summary.lstar)
S3method(print, summary.aar)
S3method(print, summary.TVAR)
S3method(print, summary.TVECM)
S3method(print, summary.VAR)
S3method(residuals, nlar)
S3method(deviance, nlar)
S3method(fitted, nlar)
S3method(coef, nlar)
S3method(AIC, nlar)
S3method(BIC, nlar)
S3method(MAPE, nlar)
S3method(mse, nlar)
S3method(coef, nlVar)
S3method(AIC, nlVar)
S3method(BIC, nlVar)
S3method(BIC, lm)
S3method(regime, setar)
S3method(getTh, default)
S3method(getTh, setar)
S3method(getTh, summary.setar)
S3method(getTh, nlVar)
S3method(logLik, nlVar)
S3method(residuals, nlVar)
S3method(deviance, nlVar)
S3method(fitted, nlVar)
S3method(print, llar)
S3method(plot, llar)
S3method(as.data.frame, llar)
S3method(vcov, VAR)


useDynLib(tsDyn)
