importFrom(utils, toLatex)
importFrom(tseriesChaos, embedd)
importFrom(tseriesChaos, mutual)
importFrom(tseriesChaos, d2)
importFrom(nnet, nnet)
importFrom(tseries, na.remove)
export(nlar, mse, MAPE, selectSETAR, selectLSTAR, selectNNET,
       autopairs, autotriples, autotriples.rgl,
       delta, delta.test, delta.lin, delta.lin.test,
       llar, llar.predict, llar.fitted, sigmoid, dsigmoid, d2sigmoid,
       setar, lstar, availableModels, nlarDialog, 
       linear, isLinear, nnetTs, aar, tarch, star, addRegime)
S3method(extend, list)
S3method(isLinear, lstar)
S3method(isLinear, star)
S3method(addRegime, star)
S3method(toLatex, setar)
S3method(plot, nlar)
S3method(plot, setar)
S3method(plot, lstar)
S3method(plot, aar)
S3method(predict, nlar)
S3method(print, nlar)
S3method(toLatex, nlar)
S3method(print, linear)
S3method(print, nnetTs)
S3method(print, setar)
S3method(print, lstar)
S3method(print, aar)
S3method(print, tarch)
S3method(summary, nlar)
S3method(summary, linear)
S3method(summary, setar)
S3method(summary, lstar)
S3method(summary, aar)
S3method(summary, tarch)
S3method(print, summary.nlar)
S3method(print, summary.linear)
S3method(print, summary.setar)
S3method(print, summary.lstar)
S3method(print, summary.aar)
S3method(print, summary.tarch)
S3method(residuals, nlar)
S3method(fitted, nlar)
S3method(coef, nlar)
S3method(AIC, nlar)
S3method(MAPE, nlar)
S3method(mse, nlar)
S3method(print, llar)
S3method(plot, llar)
S3method(as.data.frame, llar)

useDynLib(tsDyn)
